# OS X Files
*.DS_Store
*Thumbs.db

# Pyenv
.python-version

# Byte-compiled Python
*__pycache__/

# Python venv
.venv

# Coverage
.cov
.coverage*

# Testing
.pytest_cache

# Sphinx documentation build directory
docs/build/

# Other build artifacts
/build/
dist/
*.egg-info/
